h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    border: none;
    background-color: #FFFFFF00;
}

button img {
    width: 30vw;
}

.score {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem auto;
    font-size: 32px;
}

#result {
    text-align: center;
    margin: 1.5rem auto;
    font-size: 24px;
}