h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container button {
    border: none;
    background-color: #FFFFFF00;
}

button img {
    width: 30vw;
}

.score {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem auto;
    font-size: 32px;
}

#result {
    text-align: center;
    margin: 1.5rem auto;
    font-size: 24px;
}

#winner {
    text-align: center;
    font-size: 32px;
    color: blueviolet;
    font-weight: bold;
}

.restart {
    margin: 0 auto;
    font-size: 20px;
    background-color: blue;
    color: white;
    border: 1px solid rgb(14, 14, 66);
    padding: 0.5rem 1rem;
}